<h1 id="notes-on-workflow">Notes on workflow</h1>
<h2 id="raw-fastq-files-were-provided-without-demultiplexing">Raw fastq files were provided without demultiplexing</h2>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">   <span class="ex">Boyson20180119_S1_L001_R1_001.fastq_.gz</span>
   <span class="ex">Boyson20180119_S1_L001_R2_001.fastq_.gz</span></code></pre></div>
<h2 id="files-were-gunzipped">Files were &quot;gunzipped&quot;</h2>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="fu">gunzip</span> *.fastq</code></pre></div>
<h2 id="files-were-checked-for-quality-using-fastqc">Files were checked for quality using fastqc</h2>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
    <span class="ex">/gpfs1/mbsr_tools/Release2017-09-14/FastQC/fastqc</span> *.fastq</code></pre></div>
<p>After checking the files in Fastqc, it was noted that the reverse reads, &quot;...R2_001.fastq&quot; were superior in quality. Reverse reads are usually poorer quality. Also, read lengths were sometimes abnormally short, only 35 bp, which indicates that only the adapter was sequenced.</p>
<h2 id="here-are-the-links-to-the-output-reports">Here are the links to the output reports:</h2>
<p><a href="https://bitbucket.org/arhodes7/mouse_lung_vg4_tcr/raw/4c9b5b68b51748acdd4ac0991b8c1277c7641154/Boyson20180119_S1_L001_R1_001.fastq%20FastQC%20Report.pdf">&quot;Forward&quot; reads</a> <a href="https://bitbucket.org/arhodes7/mouse_lung_vg4_tcr/raw/4c9b5b68b51748acdd4ac0991b8c1277c7641154/Boyson20180119_S1_L001_R2_001.fastq%20FastQC%20Report.pdf">&quot;Reverse&quot; reads</a></p>
<p>Based on poor quality near the end of the reads, the files were trimmed and clipped.</p>
<h2 id="files-were-trimmed-to-remove-sequences-of-base-less-than-q30-from-the-end-and-minimum-length-of-100-after-trimming">Files were trimmed to remove sequences of base less than Q30 from the end, and minimum length of 100 after trimming</h2>
<p>FASTX Toolkit 0.0.13 by A. Gordon (gordon@cshl.edu) <a href="http://hannonlab.cshl.edu/fastx_toolkit/">FASTX Download site</a></p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
    <span class="ex">/gpfs1/mbsr_tools/Arhodes/FastX/bin/fastq_quality_trimmer</span> -Q 33 -t 30 -l 100 -i Boyson20180119_S1_L001_R1_001.fastq -o Boyson20180119_S1_L001_R1_001.trimmed.fastq
    <span class="ex">/gpfs1/mbsr_tools/Arhodes/FastX/bin/fastq_quality_trimmer</span> -Q 33 -t 30 -l 100 -i Boyson20180119_S1_L001_R2_001.fastq -o Boyson20180119_S1_L001_R2_001.trimmed.fastq    </code></pre></div>
<h2 id="files-were-clipped-to-remove-adapters-the-trimming-part-was-also-redone-starting-with-the-raw-fastq-files-using-a-sliding-window-approach-this-time-and-sequences-were-grouped-into-paired-and-unpaired-files.-this-is-helpful-for-the-next-step-pandaseq.-the-rerun-of-the-trimming-was-mainly-due-to-switching-to-a-different-tool-trimmomatic-for-adapter-removal-which-can-be-read-about-here-trimmomatic-website">Files were clipped to remove adapters, the trimming part was also redone starting with the Raw fastq files, using a sliding window approach this time, and sequences were grouped into paired and unpaired files. This is helpful for the next step, pandaseq. The rerun of the trimming was mainly due to switching to a different tool &quot;Trimmomatic&quot; for adapter removal, which can be read about here: <a href="http://www.usadellab.org/cms/uploads/supplementary/Trimmomatic/TrimmomaticManual_V0.32.pdf">Trimmomatic website</a></h2>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="ex">java</span> -jar /gpfs1/mbsr_tools/Arhodes/Trimmomatic-0.36/trimmomatic-0.36.jar PE -threads 12 Boyson20180119_S1_L001_R1_001.fastq Boyson20180119_S1_L001_R2_001.fastq forward_paired.fq forward_unpaired.fq reverse_paired.fq reverse_unpaired.fq ILLUMINACLIP:All.both.fa:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:50</code></pre></div>
<p>Program output</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="ex">Input</span> Read Pairs: 14030383 
    <span class="ex">Both</span> Surviving: 13818842 (98.49%) 
    <span class="ex">Forward</span> Only Surviving: 195813 (1.40%) 
    <span class="ex">Reverse</span> Only Surviving: 8413 (0.06%) 
    <span class="ex">Dropped</span>: 7315 (0.05%)
    <span class="ex">TrimmomaticPE</span>: Completed successfully</code></pre></div>
<h2 id="files-were-rechecked-for-quality-using-fastqc">Files were rechecked for quality using fastqc</h2>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="ex">/gpfs1/mbsr_tools/Release2017-09-14/FastQC/fastqc</span> -t 2 *_paired.fq</code></pre></div>
<p><a href="https://bitbucket.org/arhodes7/mouse_lung_vg4_tcr/raw/0f1cc557dd712a2d73a560008bd19811c390753a/forward_paired.fq%20FastQC%20Report.pdf">&quot;Forward&quot; reads</a> <a href="https://bitbucket.org/arhodes7/mouse_lung_vg4_tcr/raw/0f1cc557dd712a2d73a560008bd19811c390753a/reverse_paired.fq%20FastQC%20Report.pdf">&quot;Reverse&quot; reads</a></p>
<h2 id="pandaseq-paired-end-assembler-was-used-to-combine-the-forward-and-reverse-reads-after-trimming-and-clipping">Pandaseq paired end assembler was used to combine the forward and reverse reads after trimming and clipping</h2>
<p><a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-13-31">Paper to cite for pandaseq</a></p>
<p><a href="https://github.com/neufeld/pandaseq/wiki/Installation">Download instructions for pandaseq</a></p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="ex">pandaseq</span> -f forward_paired.fq -r reverse_paired.fq -T 12 -B -N -w combined.fa</code></pre></div>
<h2 id="number-and-length-of-reads-checked-after-combining-forward-and-reverse-paired-reads.">Number and length of reads checked after combining forward and reverse paired reads.</h2>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="co">#Number of lines in forward paired reads</span>

    <span class="fu">grep</span> <span class="st">&quot;@M02&quot;</span> forward_paired.fq <span class="kw">|</span> <span class="fu">wc</span> -l
    <span class="ex">13818842</span>
    
<span class="co">#Number of lines in reverse paired reads</span>

    <span class="fu">grep</span> <span class="st">&quot;@M02&quot;</span> reverse_paired.fq <span class="kw">|</span> <span class="fu">wc</span> -l
    <span class="ex">13818842</span>

<span class="co">#Number of reads in combined file</span>

    <span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> combined.fa <span class="kw">|</span> <span class="fu">wc</span> -l
    <span class="ex">13773226</span>

<span class="co">#Length distribution of combined reads</span>

    <span class="fu">awk</span> <span class="st">&#39;/^&gt;/ {print; next; } { seqlen = length($0); print seqlen}&#39;</span> combined.fa <span class="kw">|</span> <span class="fu">grep</span> -v <span class="st">&quot;&gt;&quot;</span> <span class="kw">|</span> <span class="fu">sort</span> <span class="kw">|</span> <span class="fu">uniq</span> -c <span class="kw">|</span> <span class="fu">sort</span> -nk2
    

<span class="co">#Read lengh between 50 and 500</span>
<span class="co">#Trimodal distribution at 67,282 and 350</span>
<span class="co">#In other words, the reads are all over the map, so pandaseq needs to be rerun with stricter parameters.</span></code></pre></div>
<h1 id="diagnosing-the-bimodal-distribution-of-the-combined.fa-file">Diagnosing the bimodal distribution of the combined.fa file</h1>
<p>Two sequences were chosen at random from the combined.fa file</p>
<p>Sequence #1 ________________</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
    <span class="op">&gt;</span><span class="ex">M02840</span>:176:000000000-BLLHM:1:1101:14865:1357:1
    <span class="ex">CCATTGGGACGAGGCCAGGGTTTTCCCAGTCACGACGTCGATTTTCTGTGAAGCACAGCAAGGCCAACAGAACCTTCCATCTGGTGATCTCTCCAGTGAGCCTTGAAGACAGCGCTACTTATTACTGTGCCTCGGGGTATATCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAATGGAACAAATGTTGCTTGTCTGGTGTAAGTCA</span></code></pre></div>
<p>This fits into the shorter range (282)</p>
<p>When blasted, it hit Mouse TCR.</p>
<p><a href="https://bytebucket.org/arhodes7/mouse_lung_vg4_tcr/raw/c63e5b6ae0b281485f342132cabdf68a3ea4ee6b/TCR_Blast.png?token=5a31099de9f4085a5ff64e2c7423bc0ee6dd7087">See attached picture</a></p>
<p>Sequence #2 _________________</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="op">&gt;</span><span class="ex">M02840</span>:176:000000000-BLLHM:1:1101:18032:1644:1
    <span class="ex">TTGCGGCAAAACTGCGTAACCGTCTTCTCGTTCTCTAAAAACCATTTTTCGTCCCCTTCTGGGCGGTGGTCTATAGTGTTATTAATATCAAGTTGGGGGAGCACATTGTAGCATTGTGCCAATTCATCCATTAACTTCTCAGTAACAGATACAAACTCATCACGAACGTCAGAAGCAGCCTTATGGCCGTCAACATACATATCACCATTATCGAACTCAACGCCCTGCATACGAAAAGACAGAATCTCTTCCAAGAGCTTGATGCGGTTATCCATCTGCTTATGGAAGCCAAGCATTGGGGATTGAGAAAGAGTAGAAATGCCACAAGCCTCAATAGCAGGTTTAAGAGCCTCGATACGCTCAAAGTCAAAATAATCAGCGTGACATTCAGAAGGGT</span></code></pre></div>
<p>This fits into the longer range (397)</p>
<p>When blasted, it hit PhiX.</p>
<p><a href="https://bytebucket.org/arhodes7/mouse_lung_vg4_tcr/raw/496fc2400b41daf2382922f1a57f3087b920077e/PhiX_Blast.png?token=fcfb936a073d31c9afdff18d2a1a597706e492a6">See attached picture</a></p>
<p>So, PhiX reads were not removed by the MiSeq sequencer.</p>
<h2 id="phix-reads-were-removed-from-trimmed-reads">PhiX reads were removed from trimmed reads</h2>
<p>There is a program called <a href="http://www.sanger.ac.uk/science/tools/smalt-0">SMALT</a>, at Sanger Sequencing that can remove reads for particular genomes. This was recommended by a <a href="https://groups.google.com/forum/#!topic/qiime-forum/yCQtm45tnDY">google group</a> for removing PhiX from MiSeq reads.</p>
<p>I downloaded the PhiX genome from <a href="https://www.ncbi.nlm.nih.gov/nucleotide/NC_001422">NCBI</a>.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
    <span class="ex">smalt</span> index -k 14 -s 8 PhiX PhiX.fasta
    <span class="ex">smalt</span> map -n 12 -o mapped.sam PhiX forward_paired.fq reverse_paired.fq
    <span class="ex">samtools</span> view -S -f4 mapped.sam <span class="op">&gt;</span> unmapped.sam
    <span class="fu">cat</span> unmapped.sam <span class="kw">|</span> <span class="fu">grep</span> -v ^@ <span class="kw">|</span> <span class="fu">awk</span> <span class="st">&#39;NR%2==1 {print &quot;@&quot;$1&quot;\n&quot;$10&quot;\n+\n&quot;$11}&#39;</span> <span class="op">&gt;</span> unmapped.forward.fastq
    <span class="fu">cat</span> unmapped.sam <span class="kw">|</span> <span class="fu">grep</span> -v ^@ <span class="kw">|</span> <span class="fu">awk</span> <span class="st">&#39;NR%2==0 {print &quot;@&quot;$1&quot;\n&quot;$10&quot;\n+\n&quot;$11}&#39;</span> <span class="op">&gt;</span> unmapped.reverse.fastq

<span class="co">#Check number of reads before combination</span>
    <span class="fu">grep</span> <span class="st">&quot;^@M02&quot;</span> unmapped.forward.fastq <span class="kw">|</span> <span class="fu">wc</span> -l
    <span class="ex">11284829</span>
    <span class="fu">grep</span> <span class="st">&quot;^@M02&quot;</span> unmapped.reverse.fastq <span class="kw">|</span> <span class="fu">wc</span> -l
    <span class="ex">11284828</span></code></pre></div>
<h2 id="pandaseq-was-rerun-with-a-minimum-length-of-100.-no-maximum-length-was-set.">Pandaseq was rerun with a minimum length of 100. No maximum length was set.</h2>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
    <span class="ex">pandaseq</span> -l 100 -f forward_paired.fq -r reverse_paired.fq -T 12 -B -N -w combined.2ndattempt.fa

<span class="co">#Check combined reads</span>
    <span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> combined.2ndattempt.fa <span class="kw">|</span> <span class="fu">wc</span> -l
    <span class="ex">11186764</span>

<span class="co">#Check read distribution</span>

    <span class="fu">awk</span> <span class="st">&#39;/^&gt;/ {print; next; } { seqlen = length($0); print seqlen}&#39;</span> combined.2ndattempt.fa <span class="kw">|</span> <span class="fu">grep</span> -v <span class="st">&quot;&gt;&quot;</span> <span class="kw">|</span> <span class="fu">sort</span> <span class="kw">|</span> <span class="fu">uniq</span> -c <span class="kw">|</span> <span class="fu">sort</span> -nk2

<span class="co">#Read length between 100 and 500</span>
<span class="co">#Mean distribution peaks at 282, but covers a huge range.</span></code></pre></div>
<p>So there are probably other contaminants in the data leading to a skewed distribution.<br />
This is where being told the anticpated insert size would be helpful, then reads could be pre-screened based on that.</p>
<h2 id="biological-contamination">Biological contamination</h2>
<p>Even though most of the PhiX was removed, fragments of PhiX and other bacteria (environmental contamination) are still in our reads.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="fu">grep</span> -v CCAGGGTTTTCCCAGTCACGAC test.fa <span class="kw">|</span> <span class="fu">head</span></code></pre></div>
<blockquote>
<p>M02840:176:000000000-BLLHM:1:1101:16508:1371:1 TGTTATAGATATTCAAATAACCCTGAAACAAATGCTTAGGGATTTTATTGGTATCAGGGTTAATCGTGCCAAGAAAAGCGGCATGGTCAATATAACCAGTAGTGTTAACAGTCGGGAGAGGAGTGGCATTAACACCATCCTTCATGAACTTAATCCACTGTTCACCATAAACGTGACGATGAGGGACATAAAAAGTAAAAATGTCTACAGTAGAGTCAATAGCAAGGCCACGACGCAATGGAGAAAGACGGAGAGCGCCAACGGCGTCCATCTCGAAGGAGTCGCCAGCGATAACCGGAGTAGTTGAAATGGTAATAAGACGACC</p>
</blockquote>
<p>Blasted to: Synthetic Enterobacteria phage CryptX174, complete genome Sequence ID: MF426915.1Length: 5386Number of Matches: 1</p>
<p>1100 bp long, so that helps. Also, no primers.</p>
<p>However, this is another case where knowing the desired insert size could save time.</p>
<p>Reads were size selected to remove other biological contaminants and primer dimers.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="ex">Mode</span> was used to find the most frequently observed length, which guides the minimum and maximum lengths of sequences to accept.  This also does not need to be rounded.

    <span class="va">mode=$(</span><span class="bu">echo</span> <span class="va">$(</span><span class="fu">head</span> -n 100000 <span class="va">$2</span> <span class="kw">|</span>  <span class="fu">awk</span> <span class="st">&#39;NR%2 == 0 {lengths[length($0)]++} END {for (l in lengths) {print l, lengths[l]}}&#39;</span> <span class="kw">|</span> <span class="fu">sort</span> -nk2 <span class="kw">|</span> <span class="fu">tail</span> -n1 <span class="kw">|</span> <span class="fu">awk</span> <span class="st">&#39;{print $1}&#39;</span><span class="va">))</span>
    <span class="bu">export</span> <span class="va">mode</span>
    <span class="va">lowerlimit=$(($mode</span> -20<span class="va">))</span>
    <span class="bu">export</span> <span class="va">lowerlimit</span>
    <span class="va">upperlimit=$(($mode</span>+20<span class="va">))</span>
    <span class="bu">export</span> <span class="va">upperlimit</span>


<span class="co">#This function uses the calculated mode to size select sequences from the original fasta.</span>
<span class="co">#This function also converts multiline fasta into single line fasta for faster grepping.</span>
<span class="co">#Primer dimer was an issue, so a line was added to remove these before sorting.</span>


        <span class="fu">awk</span> <span class="st">&#39;/^&gt;/ {printf(&quot;\n%s\t&quot;,$0);next; } { printf(&quot;%s\t&quot;,$0);}  END {printf(&quot;\n&quot;);}&#39;</span> <span class="va">$2</span> <span class="kw">|\</span>
        <span class="fu">sed</span> <span class="st">&#39;s/ 1:N:0/:1:N:0/g&#39;</span> <span class="kw">|</span> <span class="fu">sed</span> <span class="st">&#39;/^$/d&#39;</span> <span class="kw">|\</span>
        <span class="fu">awk</span> <span class="st">&#39;!/AGGGTTTTCCCAGTCACGA[CGTAN]{0,8}TTTTCTGTGAAGCACAGCA/&#39;</span> <span class="kw">|\</span>
        <span class="fu">awk</span> -v ll=<span class="st">&quot;</span><span class="va">$lowerlimit</span><span class="st">&quot;</span> -v ul=<span class="st">&quot;</span><span class="va">$upperlimit</span><span class="st">&quot;</span> <span class="st">&#39;length($2)&gt;ll &amp;&amp; length($2)&lt;ul&#39;</span> <span class="op">&gt;</span><span class="va">$2</span>.size.selected
</code></pre></div>
<p>The mode was 282, so the size selection was between 262 and 302. I am including a picture of the histogram for your reference.</p>
<p><a href="https://bytebucket.org/arhodes7/mouse_lung_vg4_tcr/raw/f245e3ca511f770c103ac8b2f65d434e1876d6a7/histogram.boyson.jpg?token=312c9d85c3ea9208681d0dd490fa289dd42a4cd6">See picture for distribution before size selection.</a></p>
<p>Many of the issues actually had to do with primers.</p>
<h2 id="problems-with-primers">Problems with Primers</h2>
<p>Primer-dimer or the 3rd reaction primer brings the 2nd reaction primer into the read.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="fu">grep</span> GCAGAGATAAGC combined.2ndattempt.fa <span class="kw">|</span> <span class="fu">grep</span> TGAAC <span class="kw">|</span> <span class="fu">head</span> <span class="kw">|</span> <span class="fu">grep</span> TGAAC
    
    <span class="fu">grep</span> AGATAAGGAGTACAAGAAAATGGA ../mouse_lung_vg4_tcr/Primer_Set.txt</code></pre></div>
<p>2mouseGV4 CCAGGGTTTTCCCAGTCACGACNNCTTAGATAAGGAGTACAAGAAAATGGA</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="fu">grep</span> M02840:176:000000000-BLLHM:1:1101:16458:2829:1 -A1 ../combined.2ndattempt.fa <span class="kw">|</span> <span class="fu">grep</span> AGATAAGGAGTACAAGAAAATGGA --color</code></pre></div>
<p>AGATCCTGATGTTG<strong>CCAGGGTTTTCCCAGTCACGAC</strong>GGCTTAGATAAGGAGTACAAGAAAATGGAGGCAAGTAAAAATCCTAGTGCTTCTACATCGATATTGACAATATATTCCTTGGAGGAAGAAGACGAAGCTATCTACTACTGTTCCTGCGGCTTATATAGCCCAGGTTTTCACAAGGTATTTGCAGAAGGAACTAAGCTCATAGTAATTCCCTCTGACAAAAGGCTTGATGCAGACATTTCCCCCAAGCCCACTATTTTCCTTCCTTCTGTTGCTGAAACAAATCACGTCGA</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="fu">grep</span> M02840:176:000000000-BLLHM:1:1101:16458:2829:1 -A1 P9G8_Vg4_Mouse_9_Sort_4_M_FBAR_ATCCTGATGTTG_RBAR_GACGT.fasta <span class="kw">|</span> <span class="fu">grep</span> CTTAGATAAGGAGTACAAGAAAATGGA --color</code></pre></div>
<p>TTAGATAAGGAGTACAAGAAAATGGAGGCAAGTAAAAATCCTAGTG<strong>CTTCTACATCGATATTGACAATATATTCCTTGGA</strong>GGAAGAAGACGAAGCTATCTACTACTGTTCCTGCGGCTTATATAGCCCAGGTTTTCACAAGGTATTTGCAGAAGGAACTAAGCTCATAGTAATTCCCTCTGACAAAAGGCTTGATGCAGACATTTCCCCCAAGCCCACTATTTTCCTTCCTTCTGTTGCTGAAACAAATC</p>
<p>This is a problem, because we cannot strip the primers using a single position in the read.</p>
<p>This sequence is longer, maybe that could be used to detect? But that may get rid of true inserts. Possibly screening resulting fasta files by primer? Or just using mode to remove sequences within a smaller range, say 10 bp plus or minus instead of 20?</p>
<p>Or just reject longest sequences before alignment?</p>
<p>Problem: We may be rejecting true biological information.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="fu">egrep</span> -e <span class="st">&quot;CCAGGGTTTTCCCAGTCACGACG[CGTAN]{0,2}GATTTTCTGTGAAGCACAGCAAG&quot;</span> ../combined.2ndattempt.fa <span class="kw">|</span> <span class="fu">head</span> <span class="kw">|</span> <span class="fu">egrep</span> -e <span class="st">&quot;CCAGGGTTTTCCCAGTCACGACG[CGTAN]{0,2}GATTTTCTGTGAAGCACAGCAAG&quot;</span>

<span class="fu">egrep</span> -e <span class="st">&quot;CCAGGGTTTTCCCAGTCACGACG[CGTAN]{0,2}GATTTTCTGTGAAGCACAGCAAG&quot;</span> ../combined.2ndattempt.fa <span class="kw">|</span> <span class="fu">wc</span> -l

<span class="co">#1097463</span>

<span class="fu">wc</span> -l ../combined.2ndattempt.fa

<span class="co">#22373528 ../combined.2ndattempt.fa</span></code></pre></div>
<p>This would remove about 5% of the reads. Not a big loss.</p>
<h1 id="primer-degeneracy">Primer Degeneracy</h1>
<p>The primers changed sequence enough that not one sequence could be used to search and remove them. Also, upon searching, not enough uniq sequence was found in long enough stretches to allow for a direct search using primers.</p>
<p>CC A GGGT T TTCCC A G T C A CG A C<br />
CC A GGGT T TTCCC G G T C A CG A C<br />
CC A GGGT C TTCCC A G T C A CG A C<br />
CC G GGGT T TTCCC A G T C A CG A C<br />
CC A GGGT T TTCCC G G T C A CG A C<br />
CC G GGGT TTCC C G G T C A CG A C<br />
CC A GGGT T TTCCC A G T A A CG A C<br />
CC G GGGT TTCC C G G T C A CG A C<br />
CC A GGGT TTCC C A G T C A CG A C<br />
CC A GGGT T TTCCC A C T C A CG A C<br />
CC A GGGT T TTCCC A G T C A CG C C<br />
CC A GGGT T TTCCC A G T C A G A C<br />
CC A GGGT T TTCCC A G T C G CG A C</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">    <span class="fu">awk</span> <span class="st">&#39;/CC[CGAT]{1}GGGT[CGAT]{0,1}TTCCC[CGTA]{2}T[CGTA]{1}A[C]{0,1}[GCTA]{1,2}C/&#39;</span> test.fa.size.selected <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#5971</span>
    <span class="fu">awk</span> <span class="st">&#39;/CC[CGAT]{1}GGGT[CGAT]{1}TTCCC[CGTA]{1}GTCACGAC/&#39;</span> test.fa.size.selected <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#5897</span>
    <span class="fu">awk</span> <span class="st">&#39;/CCAGGGTTTTCCCAGTCACGAC/&#39;</span> test.fa.size.selected <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#5860</span>
    <span class="fu">awk</span> <span class="st">&#39;!/CCAGGGTTTTCCCAGTCACGAC/&#39;</span> test.fa.size.selected <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#463</span></code></pre></div>
<p>About 8% of the data would be removed if only exact primers were used for the search.</p>
<h2 id="primers-are-not-at-the-end-of-the-sequence">Primers are not at the end of the sequence</h2>
<p>In 99% of the projects, sequence comes off the sequencer already demultiplexed and with the primers on the end of the reads.</p>
<p>This method does not do that. It has primers inside the barcodes.</p>
<p>If the primers are left in, it is not possible to cluster the data efficiently.</p>
<p>The ideal sequence in this case would come off the sequencer like this:</p>
<p>barcode1 primer1 insert primer2 barcode2</p>
<p>If all of the primers were the same size then we could just subtract them out based on position.</p>
<p>However, this project has several primer sizes, so it is not possible to choose one position for stripping them.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="fu">head</span> primer_hits.txt</code></pre></div>
<p>M02840:176:000000000-BLLHM:1:1101:15793:1372:1 15 66 +<br />
M02840:176:000000000-BLLHM:1:1101:16219:1372:1 15 62 +<br />
M02840:176:000000000-BLLHM:1:1101:15167:1374:1 15 62 +<br />
M02840:176:000000000-BLLHM:1:1101:14622:1378:1 15 62 +<br />
M02840:176:000000000-BLLHM:1:1101:16367:1376:1 15 65 +<br />
M02840:176:000000000-BLLHM:1:1101:15440:1378:1 15 62 +<br />
M02840:176:000000000-BLLHM:1:1101:15052:1368:1 15 62 +<br />
M02840:176:000000000-BLLHM:1:1101:16810:1378:1 15 65 +<br />
M02840:176:000000000-BLLHM:1:1101:16029:1380:1 15 62 +<br />
M02840:176:000000000-BLLHM:1:1101:14994:1381:1 15 65 +</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="fu">grep</span> -v 62 primer_hits.txt <span class="kw">|</span> <span class="fu">head</span></code></pre></div>
<p>M02840:176:000000000-BLLHM:1:1101:15793:1372:1 15 66 +<br />
M02840:176:000000000-BLLHM:1:1101:16367:1376:1 15 65 +<br />
M02840:176:000000000-BLLHM:1:1101:16810:1378:1 15 65 +<br />
M02840:176:000000000-BLLHM:1:1101:14994:1381:1 15 65 +<br />
M02840:176:000000000-BLLHM:1:1101:14920:1366:1 15 65 +<br />
M02840:176:000000000-BLLHM:1:1101:16736:1412:1 15 65 +<br />
M02840:176:000000000-BLLHM:1:1101:15090:1365:1 15 65 +<br />
M02840:176:000000000-BLLHM:1:1101:17112:1437:1 15 65 +<br />
M02840:176:000000000-BLLHM:1:1101:16701:1381:1 13 60 +<br />
M02840:176:000000000-BLLHM:1:1101:15540:1384:1 15 63 +</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="fu">grep</span> -v 15 primer_hits.txt <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#1796203</span></code></pre></div>
<p>The different sized primers were designed to find different types of sequence, so using size selection would eliminate that diversity.</p>
<p>Using the 15,62 settings would remove 21% of the sequences that had legitimate primers, and which contained diverse biological data - the kind you are looking for in this project.</p>
<p>2mouseDV1 CCAGGGTTTTCCCAGTCACGACNNCGCTAAGCTGGATAAGAAAATGCAG<br />
2mouseDV2 CCAGGGTTTTCCCAGTCACGACNNCTCTGTGAACTTCCAGAAAGCAGC<br />
2mouseDV4 CCAGGGTTTTCCCAGTCACGACNNCCTCAAAGGGAAAATTAACATTTCAAA<br />
2mouseDV5 CCAGGGTTTTCCCAGTCACGACNNCGATTTTCTGTGAAGCACAGCAAG<br />
2mouseDV6 CCAGGGTTTTCCCAGTCACGACNNCTAYTCTGTAGTCTTCCAGAAATCA<br />
2mouseDV7 CCAGGGTTTTCCCAGTCACGACNNGTMCAATCCTTCTGGGACAAAGCA<br />
2mouseDV8 CCAGGGTTTTCCCAGTCACGACNNGATTCACAATCTTCTTCAATAAAAGGGA<br />
2mouseDV9 CCAGGGTTTTCCCAGTCACGACNNGGAAGCAGCAGAGGKTTTGAAGC<br />
2mouseDV10 CCAGGGTTTTCCCAGTCACGACNNGGGAGGCTAAAGTCAGCATTTGAT<br />
2mouseDV11 CCAGGGTTTTCCCAGTCACGACNNGGTCATTATTCTCTGAACTTTCAGAAG<br />
2mouseDV12 CCAGGGTTTTCCCAGTCACGACNNGGCTATTGCCTCTGACAGAAAGT<br />
2mouseGV1-3 CCAGGGTTTTCCCAGTCACGACNNACAARAAAATTGAAGCAAGTAAAGATTTT<br />
2mouseGV4 CCAGGGTTTTCCCAGTCACGACNNCTTAGATAAGGAGTACAAGAAAATGGA<br />
2mouseGV5 CCAGGGTTTTCCCAGTCACGACNNCCACTCCCGCTTGGAAATTGATGA<br />
2mouseGV6 CCAGGGTTTTCCCAGTCACGACNNGTGACGAAAGATATGAGGCAAGGA<br />
2mouseGV7 CCAGGGTTTTCCCAGTCACGACNNCATGTTTATGAAGGCCCGGACAAGA</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"> <span class="fu">grep</span> <span class="st">&quot;\sCCAGGGTTTTCCCAGTCACGAC&quot;</span> Primer_Set.txt <span class="kw">|</span> <span class="fu">awk</span> <span class="st">&#39;{print $2}&#39;</span> <span class="kw">|</span> <span class="kw">while</span> <span class="bu">read</span> <span class="va">line</span>; <span class="kw">do</span> <span class="bu">echo</span> <span class="va">$line</span><span class="kw">|</span> <span class="fu">wc</span> -c <span class="kw">;</span> <span class="kw">done</span></code></pre></div>
<p>50<br />
49<br />
52<br />
49<br />
50<br />
49<br />
53<br />
48<br />
49<br />
52<br />
48<br />
54<br />
52<br />
49<br />
49<br />
50</p>
<h2 id="primer-problems-require-computer-intensive-code">Primer Problems Require Computer intensive code</h2>
<p>JOBS CURRENTLY RUNNING.</p>
<p>822 JOBS X 1.5 HOURS EACH /20 MAX RUNNING AT ONE TIME = 61 HOURS TO STRIP PRIMERS, AND WE HAVEN'T EVEN GOTTEN TO DEMULTIPLEXING YET</p>
<p>17182150.moab-mgmt1.cluster SPLITPS2 arhodes 00:31:38 R bsrq<br />
17182148.moab-mgmt1.cluster SPLITPS2 arhodes 00:32:00 R bsrq<br />
17182149.moab-mgmt1.cluster SPLITPS2 arhodes 00:31:44 R bsrq<br />
17182230.moab-mgmt1.cluster SPLITPS2 arhodes 00:36:43 R bsrq<br />
17187129.moab-mgmt1.cluster SPLITPS8 arhodes 02:06:34 C poolmemq<br />
17187130.moab-mgmt1.cluster SPLITPS8 arhodes 02:06:36 C poolmemq<br />
17187131.moab-mgmt1.cluster SPLITPS8 arhodes 01:52:36 R poolmemq<br />
17187132.moab-mgmt1.cluster SPLITPS8 arhodes 00:57:11 R poolmemq<br />
17187133.moab-mgmt1.cluster SPLITPS8 arhodes 00:57:01 R poolmemq<br />
17187134.moab-mgmt1.cluster SPLITPS8 arhodes 00:56:58 R poolmemq<br />
17187135.moab-mgmt1.cluster SPLITPS8 arhodes 00:56:35 R poolmemq<br />
17187136.moab-mgmt1.cluster SPLITPS8 arhodes 00:56:30 R poolmemq<br />
17187137.moab-mgmt1.cluster SPLITPS8 arhodes 00:55:55 R poolmemq<br />
17187138.moab-mgmt1.cluster SPLITPS8 arhodes 00:46:21 R poolmemq<br />
17187139.moab-mgmt1.cluster SPLITPS8 arhodes 00:46:23 R poolmemq<br />
17187140.moab-mgmt1.cluster SPLITPS8 arhodes 00:46:42 R poolmemq<br />
17187141.moab-mgmt1.cluster SPLITPS8 arhodes 00:45:31 R poolmemq<br />
17187142.moab-mgmt1.cluster SPLITPS8 arhodes 00:42:05 R poolmemq</p>
<h2 id="new-approach-feb-2018">New Approach Feb, 2018</h2>
<p>After consulting with the researcher, it seemed that removing primers would be simpler by stripping the primers during demultiplexing.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="fu">cat</span> <span class="va">$1</span><span class="kw">|\</span>
<span class="co">#echo &quot;$1&quot; |\</span>
<span class="kw">while</span> <span class="bu">read</span> <span class="va">sampleid</span> <span class="va">f_barcode</span> <span class="va">r_barcode</span> <span class="va">sortorder</span> <span class="va">mouse</span> <span class="va">gender</span> <span class="va">celltype</span> <span class="va">prime3</span> <span class="va">cell3prime</span>  <span class="va">prime5</span> <span class="va">cell5prime</span>

<span class="co">##while read sampleid f_barcode r_barcode sortorder mouse gender celltype prime3 cell3prime  prime5delta cell5primedelta</span>

<span class="kw">do</span>

<span class="co">#echo $prime3</span>

<span class="co">#This first line creates a sample ID that will be used as the new file name.  Each file will be named $SampleID.fastq.  Each barcode combination will create a fastq.</span>

<span class="co">#P1A1   GCAGAGATAAGC    GTTCA   1   1   M   Vg4     GTTCACACCAGACAAGCAACATTTGTTCC   DCbc1   AACAAGAAGGAGCCAGGGTTTTCCCAGTCACGAC  V3F</span>

<span class="va">SampleID=$(</span><span class="bu">echo</span> <span class="va">$sampleid</span><span class="st">&quot;_&quot;</span><span class="va">$celltype</span><span class="st">&quot;_Mouse_&quot;</span><span class="va">$mouse</span><span class="st">&quot;_Sort_&quot;</span><span class="va">$sortorder</span><span class="st">&quot;_&quot;</span><span class="va">$gender</span><span class="st">&quot;_FBAR_&quot;</span><span class="va">$f_barcode</span><span class="st">&quot;_RBAR_&quot;</span><span class="va">$r_barcode</span><span class="st">&quot;_5PRIME_&quot;</span><span class="va">$cell5prime</span><span class="st">&quot;_3PRIME_&quot;</span><span class="va">$cell3prime)</span>

<span class="bu">export</span> <span class="va">SampleID</span>
<span class="bu">echo</span> <span class="va">$SampleID</span>

<span class="bu">echo</span> <span class="st">&quot;This set of reads will be saved in &quot;</span> <span class="va">$SampleID</span>.fasta
<span class="co"># </span>
<span class="co"># Make reverse complements of our reverse barcodes</span>
<span class="co"># </span>
    <span class="va">rc_r_barcode=$(</span><span class="bu">echo</span> <span class="va">$prime3</span><span class="kw">|</span><span class="fu">rev</span><span class="kw">|</span><span class="fu">tr</span> ACGT[] TGCA][<span class="va">)</span>
    <span class="bu">export</span> <span class="va">rc_r_barcode</span>
    <span class="bu">echo</span> <span class="va">$rc_r_barcode</span>
 
    <span class="va">lenrcr=$(</span><span class="bu">echo</span> <span class="va">$rc_r_barcode</span><span class="kw">|</span> <span class="fu">awk</span> <span class="st">&#39;{print length($1)}&#39;</span><span class="va">)</span>
    <span class="bu">export</span> <span class="va">lenrcr</span>
    <span class="bu">echo</span> <span class="va">$lenrcr</span>
        
    <span class="va">f_barcode_fn=$(</span><span class="bu">echo</span> <span class="va">$prime5)</span>
    <span class="bu">export</span> <span class="va">f_barcode_fn</span>
    <span class="bu">echo</span> <span class="va">$f_barcode_fn</span>
 
 <span class="va">searchstring=$(</span><span class="bu">echo</span> <span class="st">&quot;[[:space:]][CGATN]{2}</span><span class="va">$f_barcode_fn</span><span class="st">.*</span><span class="va">$rc_r_barcode[CGATN]</span><span class="st">{2}[[:space:]]&quot;</span><span class="va">)</span>  
    <span class="bu">export</span> <span class="va">searchstring</span> 
    <span class="bu">echo</span> <span class="va">$searchstring</span>
<span class="co"># </span>
<span class="co">#       </span>

<span class="va">LC_ALL=</span>C <span class="fu">egrep</span> -e <span class="st">&quot;</span><span class="va">$searchstring</span><span class="st">&quot;</span> <span class="va">$2</span> <span class="kw">|</span> <span class="fu">awk</span> -v lenr=<span class="st">&quot;</span><span class="va">$lenrcr</span><span class="st">&quot;</span> <span class="st">&#39;{begin=39}{end=length($2)-40-lenr}{print $1&quot;\n&quot; substr($2,begin,end)}&#39;</span> <span class="op">&gt;&gt;</span> Demultiplexed.trimmed/<span class="va">$SampleID</span>.fasta

<span class="kw">done</span></code></pre></div>
<p>This task was split into two sets, the sequences with V-delta chains and those without.</p>
<p>There were 69120 possible combinations of primers and well ID's, so the search algorithm was split into 6 sets for the primers with delta chains.</p>
<p>The original sample sheets are in the source files.</p>
<p><a href="https://bitbucket.org/arhodes7/mouse_lung_vg4_tcr/raw/e47f3a53341b642c5d7e4be5d0002d4280ad0cd0/Sample_Sheet.p3.p5.txt">Link to sample sheet to search reads with delta chains (2689512 reads).</a></p>
<p><a href="https://bitbucket.org/arhodes7/mouse_lung_vg4_tcr/raw/e47f3a53341b642c5d7e4be5d0002d4280ad0cd0/Sample_Sheet.p3.p5.delta.txt">Link to the sample sheet without the delta chains (262258 reads).</a></p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="fu">sh</span> demultiplex.only.nodelta.sh Sample_Sheet.delta.10000 combined.2nd.fa.ss.wtdelta
<span class="fu">sh</span> demultiplex.only.nodelta.sh Sample_Sheet.delta.20000 combined.2nd.fa.ss.wtdelta
<span class="fu">sh</span> demultiplex.only.nodelta.sh Sample_Sheet.delta.30000 combined.2nd.fa.ss.wtdelta
<span class="fu">sh</span> demultiplex.only.nodelta.sh Sample_Sheet.delta.40000 combined.2nd.fa.ss.wtdelta
<span class="fu">sh</span> demultiplex.only.nodelta.sh Sample_Sheet.delta.50000 combined.2nd.fa.ss.wtdelta
<span class="fu">sh</span> demultiplex.only.nodelta.sh Sample_Sheet.delta.60000 combined.2nd.fa.ss.wtdelta
<span class="fu">sh</span> demultiplex.only.nodelta.sh Sample_Sheet.delta.69120 combined.2nd.fa.ss.wtdelta
<span class="fu">sh</span> demultiplex.only.nodelta.sh Sample_Sheet.p3.p5.txt combined.2nd.fa.ss.nodelta</code></pre></div>
<p>This is how the sequence with and without delta chains were separated.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="fu">awk</span> <span class="st">&#39;!/CGCTAAGCTGGATAAGAAAATGCAG/ &amp;&amp; !/CTCTGTGAACTTCCAGAAAGCAGC/ &amp;&amp; !/CCTCAAAGGGAAAATTAACATTTCAAA/ &amp;&amp; !/CGATTTTCTGTGAAGCACAGCAA/ &amp;&amp; !/CTA[ACGT]TCTGTAGTCTTCCAGAAATCA/ &amp;&amp; !/GT[ACGT]CAATCCTTCTGGGACAAAGCA/ &amp;&amp; !/GATTCACAATCTTCTTCAATAAAAGGGA/ &amp;&amp; !/GGAAGCAGCAGAGG[ACGT]TTTGAAGC/ &amp;&amp; !/GGGAGGCTAAAGTCAGCATTTGAT/ &amp;&amp; !/GGTCATTATTCTCTGAACTTTCAGAAG/ &amp;&amp; !/GGCTATTGCCTCTGACAGAAAGT/ &amp;&amp; !/ACAA[ACGT]AAAATTGAAGCAAGTAAAGATTTT/ &amp;&amp; !/CTTAGATAAGGAGTACAAGAAAATGGA/ &amp;&amp; !/CCACTCCCGCTTGGAAATTGATGA/ &amp;&amp; !/GTGACGAAAGATATGAGGCAAGGA/ &amp;&amp; !/CATGTTTATGAAGGCCCGGACAAGA/&#39;</span> combined.2ndattempt.fa.size.selected  <span class="op">&gt;</span> combined.2nd.fa.ss.nodelta

<span class="fu">awk</span> <span class="st">&#39;/CGCTAAGCTGGATAAGAAAATGCAG/ || /CTCTGTGAACTTCCAGAAAGCAGC/ || /CCTCAAAGGGAAAATTAACATTTCAAA/ || /CGATTTTCTGTGAAGCACAGCAA/ || /CTA[ACGT]TCTGTAGTCTTCCAGAAATCA/ || /GT[ACGT]CAATCCTTCTGGGACAAAGCA/ || /GATTCACAATCTTCTTCAATAAAAGGGA/ || /GGAAGCAGCAGAGG[ACGT]TTTGAAGC/ || /GGGAGGCTAAAGTCAGCATTTGAT/ || /GGTCATTATTCTCTGAACTTTCAGAAG/ || /GGCTATTGCCTCTGACAGAAAGT/ || /ACAA[ACGT]AAAATTGAAGCAAGTAAAGATTTT/ || /CTTAGATAAGGAGTACAAGAAAATGGA/ || /CCACTCCCGCTTGGAAATTGATGA/ || /GTGACGAAAGATATGAGGCAAGGA/ || /CATGTTTATGAAGGCCCGGACAAGA/&#39;</span> combined.2ndattempt.fa.size.selected  <span class="op">&gt;</span> combined.2nd.fa.ss.wtdelta
</code></pre></div>
<p>After demultiplexing, 2400010 total reads were assigned to 15789 files (69120 of the combined primer/well possibilities)</p>
<p>1412 wells had between 1 and 17 primer combinations.</p>
<p>Cell sort order had different distributions of unique primer combinations:</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="fu">ls</span> Demultiplexed.trimmed/*fasta <span class="kw">|</span> <span class="fu">cut</span> -d <span class="st">&quot;_&quot;</span> -f6 <span class="kw">|</span> <span class="fu">sort</span> <span class="kw">|</span> <span class="fu">uniq</span> -c <span class="kw">|</span> <span class="fu">sort</span> -nk2 <span class="kw">|</span> <span class="fu">awk</span> <span class="st">&#39;{print &quot;\t&quot;$2&quot;\t&quot;$1}&#39;</span>

<span class="co">#   1   1367</span>
<span class="co">#   2   1987</span>
<span class="co">#   3   4441</span>
<span class="co">#   4   4614</span>
<span class="co">#   5   3380</span>
 </code></pre></div>
<p>Mice had different distrubtions of unique primer combinations:</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="fu">ls</span> Demultiplexed.trimmed/*fasta <span class="kw">|</span> <span class="fu">cut</span> -d <span class="st">&quot;_&quot;</span> -f4 <span class="kw">|</span> <span class="fu">sort</span> <span class="kw">|</span> <span class="fu">uniq</span> -c <span class="kw">|</span> <span class="fu">sort</span> -nk2 <span class="kw">|</span> <span class="fu">awk</span> <span class="st">&#39;{print &quot;\t&quot;$2&quot;\t&quot;$1}&#39;</span>

<span class="co">#   1   573</span>
<span class="co">#   2   794</span>
<span class="co">#   3   984</span>
<span class="co">#   4   1003</span>
<span class="co">#   5   987</span>
<span class="co">#   6   1140</span>
<span class="co">#   7   1131</span>
<span class="co">#   8   1183</span>
<span class="co">#   9   1076</span>
<span class="co">#   10  1150</span>
<span class="co">#   11  1226</span>
<span class="co">#   12  1162</span>
<span class="co">#   13  1188</span>
<span class="co">#   14  979</span>
<span class="co">#   15  1213</span></code></pre></div>
<p>To facilitate assignment to IMGT designations, the raw read duplicates were collapsed within each well/primer group.</p>
<p>For example, well P10A10 may have had 13 combinations of primers, with 3804 total reads.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="fu">wc</span> -l Demultiplexed.trimmed/P10A10*

<span class="co">#     4 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV12_3PRIME_DCbc10.fasta</span>
<span class="co">#    14 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV2_3PRIME_DCbc10.fasta</span>
<span class="co">#  2316 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV5_3PRIME_DCbc10.fasta</span>
<span class="co">#   468 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV6_3PRIME_DCbc10.fasta</span>
<span class="co">#   104 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV8_3PRIME_DCbc10.fasta</span>
<span class="co">#    68 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV9_3PRIME_DCbc10.fasta</span>
<span class="co">#    18 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2GV1-3_3PRIME_GC1-3bc10.fasta</span>
<span class="co">#    18 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2GV1-3_3PRIME_GC4bc10.fasta</span>
<span class="co">#   190 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2GV4_3PRIME_GC1-3bc10.fasta</span>
<span class="co">#   230 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2GV4_3PRIME_GC4bc10.fasta</span>
<span class="co">#   354 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_3PRIME_DCbc10.fasta</span>
<span class="co">#     8 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_3PRIME_GC1-3bc10.fasta</span>
<span class="co">#    12 Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_3PRIME_GC4bc10.fasta</span></code></pre></div>
<p>But a lot of these reads are identical. NOTE, number of reads is 1/2 of the line count because these are fasta files -- 1 header line followed by one seuqence line.</p>
<p>To faciliate identificatoin of all the cell types that were captured by the primers, the duplicate reads were collapsed and counted.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="fu">ls</span> Demultiplexed.trimmed/*<span class="kw">|</span> <span class="kw">while</span> <span class="bu">read</span> <span class="va">filename</span>; <span class="kw">do</span> <span class="ex">fastx_collapser</span> -i <span class="va">$filename</span> -o - <span class="kw">|</span>  <span class="fu">awk</span> -v <span class="st">&quot;FILE=</span><span class="va">$filename</span><span class="st">&quot;</span> <span class="st">&#39;/^&gt;/ {gsub(/.fa(sta)?$/,&quot;&quot;,FILE);printf(&quot;%s-%s\n&quot;,$0, FILE);next;} {print}&#39;</span> <span class="kw">|</span> <span class="fu">awk</span> -F <span class="st">&quot;-&quot;</span> <span class="st">&#39;/&gt;/{print &quot;&gt;&quot;$2&quot;-&quot;$3&quot;_&quot;$4;next}{print}&#39;</span> <span class="kw">;done</span> <span class="kw">|</span> <span class="fu">sed</span> <span class="st">&#39;s/_$//g&#39;</span> <span class="op">&gt;</span> corrected_collapsed.fasta</code></pre></div>
<p>Once collapsed, the 7 reads that were found in P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV2_3PRIME_DCbc10.fasta are now collapsed to five unique reads. The counts are at the beginning of the line.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="fu">grep</span>  -A1 P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV2_3PRIME_DCbc10 corrected_collapsed.fasta</code></pre></div>
<blockquote>
<p>2-Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV2_3PRIME_DCbc10 CTCTGTGAACTTCCAGAAAGCAGCTAAGTCCTTCAGCCTGGAGATCTCCGACTCGCAGCTGGGGGATGCTGCGACGTATTTCTGTGCTCTCATGGAGCGCGGTCGGAGGGATACGAGCAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT 2-Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV2_3PRIME_DCbc10 CTCTGTGAACTTCCAGAAAGCAGCTAAGTCCTTCAGCCTGGAGATCTCCGACTCGCAGCTGGGGGATGCTGCGACGTATTTCTGTGCTCTCATGGAGCTCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT 1-Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV2_3PRIME_DCbc10 CTCTGTGAACTTCCAGAAAGCAGCTAAGTCCTTCAGCCTGGAGATCTCCGACTCGCAGCTGGGGGATGCTGCGACGTATTTCTGTGCTCTCATGGAGCGCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT 1-Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV2_3PRIME_DCbc10 CTCTGTGAACTTCCAGAAAGCAGCTAAGTCCTTCAGCCTGGAGATCTCCGACTCGCAGCTGGGGGATGCTGCGACGTATTTCTGTGCTCTCATGGAGCGCGGGGGATACGAGACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTCTCATCATGAAAAAT 1-Demultiplexed.trimmed/P10A10_Vg4_Mouse_10_Sort_4_M_FBAR_ATGTCGATAAGC_RBAR_GAATG_5PRIME_V10A_2DV2_3PRIME_DCbc10 CTCTGTGAACTTCCAGAAAGCAGCTAGGTCCTTCAGCCTGGAGATCTCCGACTCGCAGCTGGGGGATGCTGCGACGTATTTCTGTGCTCTCATGGAGATCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT</p>
</blockquote>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="co">#Headers were rearranged to put the duplicate counts at the end of the line and remove the &quot;Demultiplexed.trimmed.&quot;</span>

<span class="fu">awk</span> -F <span class="st">&quot;-&quot;</span> <span class="st">&#39;/&gt;/{print &quot;&gt;&quot;$2&quot;-&quot;$1 ;next}{print}&#39;</span> corrected.collapsed.fasta <span class="kw">|</span> <span class="fu">sed</span> <span class="st">&#39;s/-&gt;/-/g&#39;</span> <span class="kw">|</span> <span class="fu">sed</span> <span class="st">&#39;s/Demultiplexed.trimmed\///g &gt; final.demultiplexed.fasta</span>

<span class="st">head final.demultiplexed.fasta</span></code></pre></div>
<blockquote>
<p>P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV12_3P_DCbc10-1 GGCTATTGCCTCTGACAGAAAGTCAAGCACCTTGATCCTGCCTCATGTCAGCCTGAGAGACGCGGCTGTGTACCACTGTATCCTGAGATATATGGCCCCTTATCGGAGGGATACGAAAACCGACAAACTCGTCTTTGGACAGGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV12_3P_DCbc10-1 GGCTATTGCCTCTGACAGAAAGTCAAGCACCTTGATCCTGCCTCATGTCAGCCTGAGAGACGCGGCTGTGTACCACTGTATCCTGAGAGGAATATATCGGAGGGATACCGAATTTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV2_3P_DCbc10-2 CTCTGTGAACTTCCAGAAAGCAGCTAAGTCCTTCAGCCTGGAGATCTCCGACTCGCAGCTGGGGGATGCTGCGACGTATTTCTGTGCTCTCATGGAGCGCGGTCGGAGGGATACGAGCAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV2_3P_DCbc10-2 CTCTGTGAACTTCCAGAAAGCAGCTAAGTCCTTCAGCCTGGAGATCTCCGACTCGCAGCTGGGGGATGCTGCGACGTATTTCTGTGCTCTCATGGAGCTCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV2_3P_DCbc10-1 CTCTGTGAACTTCCAGAAAGCAGCTAAGTCCTTCAGCCTGGAGATCTCCGACTCGCAGCTGGGGGATGCTGCGACGTATTTCTGTGCTCTCATGGAGCGCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT</p>
</blockquote>
<p>Each one of these reads could be a different cell type. This step just identified the reads. The primers have been stripped.</p>
<p>Before combining duplicates: 2400010 total reads in 15789 files (69120 possibilities)</p>
<p>After combining duplicates WITHIN files: 981384 unique reads in 15789 files (2280177 total reads)</p>
<p>Reads from all of the files were combined to create an OTU table that could describe the entire set of unique reads.</p>
<p>This is based on a common method in metagenomics, the usearch algorithm <a href="https://drive5.com/usearch/manual/uclust_algo.html">described at this link.</a></p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"> 
 <span class="ex">usearch</span> -otutab collapsed.reheaded.fasta -otus otus.fa -otutabout otutab.final.txt -mapout map.final.txt -uparseout demult.final
 </code></pre></div>
<p>When reads were collapsed in the last step, that was done within files, so that wells could be treated uniquely if we want to go back and look at individual sequences captured by primer sets.</p>
<p>To make an otu table for the entire data set, all reads from all files are collapsed into unique reads across the entire experiment.</p>
<pre><code>usearch -fastx_uniques final.demultiplexed.fasta -fastaout uniques.fasta -sizeout -relabel Uniq
head uniques.fasta
</code></pre>
<blockquote>
<p>Uniq1;size=123773; CGATTTTCTGTGAAGCACAGCAAGGCCAACAGAACCTTCCATCTGGTGATCTCTCCAGTGAGCCTTGAAGACAGCGCTAC TTATTACTGTGCCTCGGGGTATATCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTG TGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT Uniq2;size=72963; CTCTGTGAACTTCCAGAAAGCAGCTAAGTCCTTCAGCCTGGAGATCTCCGACTCGCAGCTGGGGGATGCTGCGACGTATT TCTGTGCTCTCATGGAGCGCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAA CCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT</p>
</blockquote>
<p>Size refers to how many reads from final.demultiplexed.fasta are part of that set.</p>
<pre><code>awk -F &quot;=&quot; &#39;/&gt;/{print $2}&#39; uniques.fasta | sed &#39;s/;//g&#39; | awk &#39;{sum+=$1}END{print sum}&#39;

#2400010 -- same as the number of reads entered into the analysis.

grep &quot;&gt;&quot; uniques.fasta | wc -l

#479112 --- same as the number of unique reads AMONG samples.

#This option was not set, because unique reads may actually be biological: -sizeout -minuniquesize 2 </code></pre>
<p>Unique sequences that were singletons were not removed, because these could be legitimate biologial sequences, and not sequencing error.</p>
<p>The next step clusters these unique reads by 97% similarity. This allows for potential sequencing error.</p>
<pre><code>usearch -cluster_otus uniques.fasta -otus otus.fa -uparseout uparse.txt -relabel Otu -notmatched unmatchedotus.fasta

head otus.fa</code></pre>
<blockquote>
<p>Otu1 CGATTTTCTGTGAAGCACAGCAAGGCCAACAGAACCTTCCATCTGGTGATCTCTCCAGTGAGCCTTGAAGACAGCGCTAC TTATTACTGTGCCTCGGGGTATATCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTG TGGAACCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT Otu2 CTCTGTGAACTTCCAGAAAGCAGCTAAGTCCTTCAGCCTGGAGATCTCCGACTCGCAGCTGGGGGATGCTGCGACGTATT TCTGTGCTCTCATGGAGCGCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAA CCAAAAAGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAAAAT</p>
</blockquote>
<p>Because the data set is so diverse, a few more iterations were done.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> unmatchedotus.fasta <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#110361</span>

<span class="ex">usearch</span> -fastx_uniques unmatchedotus.fasta -fastaout uniques.unmatched.fasta -sizeout -relabel Uniq

<span class="ex">usearch</span> -cluster_otus uniques.unmatched.fasta -otus otus.unmatched.fa -uparseout uparse.unmatched.txt -relabel OtuUnm -notmatched unmatched.2nd.fasta

<span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> unmatched.2nd.fasta <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#31939</span>

<span class="ex">usearch</span> -fastx_uniques unmatched.2nd.fasta -fastaout uniques.unmatched.2nd.fasta -sizeout -relabel Uniq

<span class="ex">usearch</span> -cluster_otus uniques.unmatched.fasta -otus otus.unmatched.2nd.fa -uparseout uparse.unmatched.2nd.txt -relabel OtuUnmat -notmatched unmatched.3rd.fasta

<span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> unmatched.3rd.fasta <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#17011</span>

<span class="fu">wc</span> -l uniques*</code></pre></div>
<p>This approach had diminishing returns.</p>
<p>1916448 uniques.fasta 310476 uniques.unmatched.fasta 113288 uniques.unmatched.2nd.fasta 65624 uniques.unmatched.3rd.fasta 50020 uniques.unmatched.4th.fasta 43252 uniques.unmatched.5th.fasta 40564 uniques.unmatched.6th.fasta</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> unmatched.4th.fasta <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#12657</span>

<span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> unmatched.5th.fasta <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#10868</span>

<span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> unmatched.6th.fasta <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#10154</span></code></pre></div>
<p>The clustering seemed to be less effective after the third round, so a centroid approach was used to lower the percentage similarity to capture as much diversity as possible in the 65624 sequences left after clustering for the third time.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="ex">usearch</span> -cluster_fast unmatched.3rd.fasta -id 0.9 -centroids otus90.fa -uc unmatched.90.fasta

<span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> otus90.fa <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#254</span>

<span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> unmatched.90.fasta <span class="kw">|</span> <span class="fu">wc</span> -l
<span class="co">#15947</span></code></pre></div>
<p>It doesn't make sense to go much lower than 90% identity for these new clusters.</p>
<p>I did send the unclustered reads to IMGT for analysis, but it doesn't make much sense to look at those yet, because later in the analysis, we rerun all reads against all OTU's, and that leftover set will most likely contain these unclustered reads.</p>
<h1 id="chimera-filtering">Chimera filtering</h1>
<p>No chimera filtering was done on the raw clusters.</p>
<p>Usually, when clustering is used to define groups of reads, chimera filtering is turned on.<br />
Because these reads have legitimate combinations of V,G,D chains, the chimera filter would not be appropriate. It might read a new combination as a chimera of two other transcripts and reject it.</p>
<p>The otus.fa, otus.unmatched.fa, otus.unmatched.2nd.fa, otus.unmatched.3rd.fa and otus90.fa were all combined to create 833 potential OTU's for capturing the diversity of the sequences.</p>
<p>A read can be in an OTU with another read, and not be 100% identical, but they are close enough based on 97% similarity after the next mapping step.</p>
<p>Even though some of the clusters were constructed using a slightly lower identity, the final mapping will only place reads in the more ambiguous clusters if a highly similar cluster is not found first.</p>
<p>Very few reads are in those last 254 OTU's. (6866 of the 981384 unique reads from within fasta files). But these could be real biologically, just very rare.</p>
<p>The OTU file was given new headers to help organize the information.</p>
<pre><code>cat otus.fa otus.unmatched.fa otus.unmatched.2nd.fa otus.unmatched.3rd.fa otus90.fa &gt; combined.1.2.3.90.fasta

awk &#39;/^&gt;/{print &quot;&gt;OTU_&quot; n++; next}{print}&#39; &gt; combined.1.2.3.90.fasta &gt; combined.1.2.3.90.rehead.fasta

#Note:  I should have done this to start at OTU_1 instead of OTU_0: awk &#39;{if (/^&gt;/) print &quot;&gt;OTU_&quot;(++i); else print $0;}&#39;
#or this awk &#39;/&gt;/{print &quot;&gt;OTU_&quot;(++i); next}{print $0;}&#39;
</code></pre>
<p>These OTU's were sent to the IMGT for analysis, those files are too big to put in the bitbucket, but were provided by FTP to the researcher.</p>
<p>The final OTU file had 833 OTU's in it.</p>
<p>Now, unique reads from each fasta file were mapped to the OTUS.</p>
<p>A few possibility exists for each read.</p>
<p>Two reads that were considered unique by the fastx_collapser are recombined into one OTU.</p>
<p>Well1_PrimerCombination1_UniqueRead1 --&gt; Maps to OTU_53 Well1_PrimerCombination1_UniqueRead2 --&gt; Maps to OTU_53</p>
<p>Two reads that were considered unique by the fastx_collapser are assigned to different OTU's.</p>
<p>Well1_PrimerCombination1_UniqueRead1 --&gt; Maps to OTU_53 Well1_PrimerCombination1_UniqueRead2 --&gt; Maps to OTU_57</p>
<p>Or, one or both of the reads does not find a match and ends up in the unmapped file.</p>
<p>The highest number of potential OTU's that can be captured is equal to the highest number of UNIQUE reads in a fasta file.</p>
<p>Each fasta file represents a unique combination of well location and primer set.</p>
<p>It would not be expected to see a read from a different primer set map into the same OTU as a read from another primer set in the same well.</p>
<p>This would be unusual:</p>
<p>Well1_PrimerCombination1_UniqueRead1 --&gt; Maps to OTU_53 Well1_PrimerCombination2_UniqueRead2 --&gt; Maps to OTU_53</p>
<p>This is to be expected:</p>
<p>Well1_PrimerCombination1_UniqueRead1 --&gt; Maps to OTU_53 Well1_PrimerCombination2_UniqueRead2 --&gt; Maps to OTU_99</p>
<p>Some primer combinations were very common:</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="ex">c</span></code></pre></div>
<p>Ten most common primer combinations</p>
<pre><code>   1090 5P_V13F_2DV2_3P_DCbc5
   1148 5P_V12C_2DV2_3P_DCbc7
   1229 5P_V15C_2DV2_3P_DCbc4
   1240 5P_V12C_2DV2_3P_DCbc9
   1293 5P_V13F_2DV2_3P_DCbc4
   1297 5P_V12C_2DV2_3P_DCbc8
   1305 5P_V15B_2DV5_3P_DCbc4
   1311 5P_V13B_2DV2_3P_DCbc4
   1411 5P_V12C_2DV2_3P_DCbc5
   1633 5P_V11C_2DV2_3P_DCbc4</code></pre>
<p>Some primer combinations were very rare:</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="fu">grep</span> <span class="st">&quot;&gt;&quot;</span> final.demultiplexed.fasta <span class="kw">|</span> <span class="fu">cut</span> -d <span class="st">&quot;-&quot;</span> -f1 <span class="kw">|</span> <span class="fu">cut</span> -d <span class="st">&quot;_&quot;</span> -f 8- <span class="kw">|</span> <span class="fu">sort</span> <span class="kw">|</span> <span class="fu">uniq</span> -c <span class="kw">|</span> <span class="fu">sort</span> -nk1 <span class="kw">|</span> <span class="fu">head</span></code></pre></div>
<p>Ten least common primer combinations (alphabetically, there were many single hits)</p>
<pre><code>  1 5P_V10A_2DV11_3P_DCbc7
  1 5P_V10A_2DV12_3P_DCbc2
  1 5P_V10A_2DV12_3P_DCbc9
  1 5P_V10A_2DV2_3P_DCbc2
  1 5P_V10A_2GV1_3_3P_GC4bc2
  1 5P_V10A_2GV1_3_3P_GC4bc3
  1 5P_V10A_2GV1_3_3P_GC4bc4
  1 5P_V10A_2GV1_3_3P_GC4bc7
  1 5P_V10A_2GV1_3_3P_GC4bc8
  1 5P_V10A_2GV5_3P_GC1_3bc3
  
  </code></pre>
<p>There is no guarantee that evey primer combination will be found in the OTU map.</p>
<pre><code>usearch -otutab final.demultiplexed.fasta -otus combined.1.2.3.90.rehead.fasta -otutabout Finalotutab.txt -mapout Finalmap.txt -notmatched Final.unmapped.fa -sizeout Final.otus_with_sizes.fa
</code></pre>
<p>The map file is a long list of each individual hit -- the number of identical sequences is still attached to the Read name.</p>
<p>For example, in the table below, the read P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV5_3P_DCbc10 had 50 duplicate copies.</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">
<span class="fu">head</span> Finalmap.txt</code></pre></div>
<p>P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV5_3P_DCbc10-50 OTU_0 P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV5_3P_DCbc10-63 OTU_6 P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV5_3P_DCbc10-363 OTU_0 P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV2_3P_DCbc10-1 OTU_1 P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV2_3P_DCbc10-1 OTU_1 P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV2_3P_DCbc10-2 OTU_1 P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV2_3P_DCbc10-1 OTU_1 P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV2_3P_DCbc10-2 OTU_5 P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV5_3P_DCbc10-47 OTU_0 P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV12_3P_DCbc10-1 OTU_59</p>
<p>The map file is a long list of each individual hit -- the number in the table represents the number of UNIQUE (nonidentical reads) from that well that matched that OTU. One well, on primer combination, can have 100's of non-identical reads. Many of them are 97% similar, so they get grouped under the appropriate OTU.</p>
<p>For example, in the table below, column one shows how all the unique reads were assigned to OTU's for P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV5_3P_DCbc10</p>
<p>Well P10A10 with primer set 5P_V10A_2DV5_3P_DCbc10 (5prime had the combination of V10A and 2DV5, 3 prime had DCbc10), had 301 UNIQUE reads that landed in OTU_0 and 41 different UNIQUE reads that landed in OTU_6, etc. Not all the reads were classified as the same OTU, even with the same primer set.</p>
<pre><code>head Finalotutab.txt | less -S</code></pre>
<h1 id="otu-id-p10a10_vg4_m_10_s_4_m_5p_v10a_2dv5_3p_dcbc10-p10a10_vg4_m_10_s_4_m_5p_v10a_2dv2_3p_dcbc10-p10a10_vg4_m_10_s_4_m_">OTU ID P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV5_3P_DCbc10 P10A10_Vg4_M_10_S_4_M_5P_V10A_2DV2_3P_DCbc10 P10A10_Vg4_M_10_S_4_M_</h1>
<p>OTU_0 301 0 0 0 0 0 0 0 0 0 85 0 0 142 0 OTU_6 41 0 0 0 0 0 0 0 0 0 9 0 0 31 0 OTU_1 0 4 0 0 0 0 0 0 0 0 1 0 0 0 1 OTU_5 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 OTU_59 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 OTU_135 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 OTU_159 5 0 0 0 0 0 0 0 0 0 4 0 0 0 0 OTU_528 6 0 0 0 0 0 0 0 0 0 2 0 0 1 0 OTU_262 4 0 0 0 0 0 0 0</p>
<p>Let's look at OTU_0 and OTU_6</p>
<pre><code>grep &quot;OTU_0\;&quot; Final.otus_with_sizes.fa -A3</code></pre>
<blockquote>
<p>OTU_0;size=210417; CGATTTTCTGTGAAGCACAGCAAGGCCAACAGAACCTTCCATCTGGTGATCtctcCAGTGAGCCTTGAAGACAGCGCTACTTATTACTGTGCCTCGGGGTATATCGGAGGGATACGAGCTACCGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAaaaGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAaaaT</p>
</blockquote>
<pre><code>grep &quot;OTU_6\;&quot; Final.otus_with_sizes.fa -A3</code></pre>
<blockquote>
<p>OTU_6;size=8567; CGATTTTCTGTGAAGCACAGCAAGGCCAACAGAACCTTCCATCTGGTGATCtctcCAGTGAGCCTTGAAGACAGCGCTACTTATTACTGTGCCTCGGGGTATCGGAGGGACAAACTCGTCTTTGGACAAGGAACCCAAGTGACTGTGGAACCAAaaaGCCAGCCTCCGGCCAAACCATCTGTTTTCATCATGAAaaaT</p>
</blockquote>
<p>They are not identical, so the reads must be different. The reads are assigned to the best match.</p>
<p>There might be correlations between primer sets and OTU's that could reduce the complexity of the data set.</p>
<p>To make the data more tractable for excel, I rewrote the column names in the table to allow separation of the samples by well row, well column, mouse, sort order and primer sets.</p>
<p>That is what is in your FinalOutput.xls.</p>
<p>That can be found here.</p>
<p>(c)2018 Adelaide.Rhodes@uvm.edu</p>
